# Core Flask dependencies
Flask==3.0.0
Flask-CORS==4.0.0
flask-swagger-ui==4.11.1
flasgger==0.9.7.1
flask
watchdog

# CLI and testing tools 
click
requests


# Database dependencies
SQLAlchemy==2.0.23
psycopg2-binary==2.9.9

# API documentation
PyYAML==6.0.1

# Development dependencies
python-dotenv==1.0.0

# Optional - for production deployment
gunicorn==21.2.0
gevent==23.9.1
